{% extends 'base.html' %}

{% block chamada %}Projetos{% endblock %}

{% block corpo %}

	<ul class="breadcrumb">
    	<li>{{project.name}}</li>
    </ul>
    
	<div class="row-fluid">
        <div class="span3">
          <!--	
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Problem's List
              	<span><a id="setup_problem_btn" class="btn btn-small" href="/admin/information/problem/?project__id__exact={{project.id}}"><i class="icon-cog"></i></a></span>
              </li>
              <li class="divider"></li>
              
             -->
             <h3>Problem's list</h3>
              {% for problem in project.problem_set.all %}
           	  <div class="alert alert-info problem_item div{{problem.id}}" id="{{problem.id}}" >
               	  <h4 class="alert-heading"><a href="{% url url_edit_problem problem.id %}">{{problem.id}}</a> - {{problem.name}}</h4>
              	  	  <p>
              	  	  	<span class="badge badge-inverse">{{problem.vote}}</span>
              	  	  	<i class="icon-upload"></i><a class="btn-small" href="{% url url_problem_more_priority problem.id %}">up</a>
              	  	  	<i class="icon-download"></i><a class="btn-small" href="{% url url_problem_less_priority problem.id %}">down</a>
             	  	  </p>
	          </div>
              {% endfor %}
              <span><a id="new_problem_btn" class="btn btn-small" href="#">Add problem</a></span>
			  
				<div class="controls" id="add_problem_div">
					<form action="{% url url_register_problem id_project %}" method="post" id="add_problem_form">
					   {% csrf_token %}
		               <div class="input-append">
	                	<input type="text" name="problem_name_input" class="span8" size="32" >
	                	<input type="submit" name="submit" value="Add" class="btn" />
		               </div>
					</form>
	            </div>				
			  
              
            
          
          
        </div><!--/span3-->
        
        <div class="span9">
          <div class="row-fluid">
            <div class="span6">
              <h3>Requirement</h3>
              {% for problem in project.problem_set.all %}
              <div class="problem_div requirement_div{{problem.id}}">
              	  {% for requirement in problem.requirement_set.all %}
              	  <div class="alert alert-block" id="{{requirement.id}}" >
              	  	  <h4 class="alert-heading"><a href="{% url url_edit_requirement requirement.id %}">#{{requirement.id}}</a> - {{requirement.name}}</h4>
              	  	  {% if requirement.user %}
              	  	  	<b>As a </b>{{requirement.user}}, <b>I want to</b> {{requirement.action}}. <b>So that</b> {{requirement.detail}}
              	  	  {% else %}
              	  	  	{{requirement.description}}
              	  	  {% endif %}
              	  	  <p>
              	  	  	<span class="badge badge-inverse">{{requirement.vote}}</span>
              	  	  	<i class="icon-upload"></i><a class="btn-small" href="{% url url_requirement_more_priority requirement.id %}">up</a>
              	  	  	<i class="icon-download"></i><a class="btn-small" href="{% url url_requirement_less_priority requirement.id %}">down</a>
              	  	  </p>
              	  	  
		          </div>
              	  {% endfor %}
              </div>
              {% endfor %}
              <div>
					<form action="{% url url_register_requirement project.id %}" method="post" id="add_requirement_form">
					   {% csrf_token %}
		               <div class="input-append">
		               	<input type="hidden" name="problem_id_input" id="problem_id_input" value="" />
	                	<input type="text" name="requirement_name_input" class="span8" value="{{project.id}}" size="32" >
	                	<input type="submit" name="submit" value="Add" class="btn" />
		               </div>
					</form>
              </div>
            </div><!--/span6-->
            
            
            
            
            <div class="span6">
              <h3>Solution</h3>
              {% for problem in project.problem_set.all %}
              <div class="problem_div solution_div{{problem.id}}">
              	  {% for solution in problem.solution_set.all %}
              	  <div class="alert alert-success" id="{{solution.id}}" >
              	  	  <h4 class="alert-heading"><a href="{% url url_edit_solution solution.id %}">#{{solution.id}}</a> - {{solution.name}}</h4>
              	  	  {{solution.description}}
              	  	  <p>
              	  	  	<a class="btn-small" href="{% url url_solution_detail solution.id %}">Attachments &raquo;</a>
              	  	  	<a class="btn-small" href="{% url url_register_attachment solution.id %}">New &raquo;</a>
              	  	  	<span class="badge badge-inverse">{{solution.like}}</span>
              	  	  	<i class="icon-thumbs-up"></i><a class="btn-small" href="{% url url_solution_like solution.id %}">like</a>
              	  	  	<span class="badge badge-inverse">{{solution.unlike}}</span>
              	  	  	<i class="icon-thumbs-down"></i><a class="btn-small" href="{% url url_solution_unlike solution.id %}">unlike</a>
              	  	  </p>
		          </div>
              	  {% endfor %}
              </div>
              {% endfor %}
              <div>
					<form action="{% url url_register_solution id_project %}" method="post" id="add_solution_form">
					   {% csrf_token %}
		               <div class="input-append">
		               	<input type="hidden" name="problem_id_input" id="problem_id_input2" value="" />
	                	<input type="text" name="solution_name_input" class="span8" size="32" >
	                	<input type="submit" name="submit" value="Add" class="btn" />
		               </div>
					</form>
              </div>              
            </div><!--/span6-->

          </div><!--/row-->
        </div><!--/span9-->
        
        
      </div><!--/row-->    

{% endblock corpo %}
{% block javascript %}

		<script type="text/javascript">
		    $(document).ready(function(){
		    	    //habilitar e desabilitar itens conforme problema selecionado
		    		$(".problem_div").hide();
		    		$("#add_requirement_form").hide();
		    		$("#add_solution_form").hide();
					$(".problem_item").click(function(event){
						var problem_id_selected = $(this).attr('id');
						$(".problem_div").hide();
						$(".requirement_div" + problem_id_selected).show();
						$(".solution_div" + problem_id_selected).show();
						$("#problem_id_input").val(problem_id_selected);
						$("#problem_id_input2").val(problem_id_selected);
						$("#add_requirement_form").show();
						$("#add_solution_form").show();
					});
					
					//novo problema
					$("#add_problem_div").hide();
					$("#new_problem_btn").click(function(event){
						$("#add_problem_div").show();
					});
		    });
		</script>

{% endblock javascript %}