{% extends 'base.html' %}

{% block chamada %}Projetos{% endblock %}

{% block corpo %}

	<div class="hero-unit">
        <h1>Let's brainstorming your idea!</h1>
        <p>This is a place to write down every idea and vote before figure out the best one.</p>
    </div>

	<h2>Select one:</h2>
	<div class="btn-group">
    	  <button class="btn btn-inverse">Project</button>
    	  <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
    		<span class="caret"></span>
    	  </button>
          <ul class="dropdown-menu">
			{% for project in object_list %}
			<li>
				<a href="{% url url_project_detail project.id %}">{{project.name}}</a>
			</li>
			{% endfor %}
				
          </ul>
    </div><!-- /btn-group -->  

{% endblock corpo %}

{% block javascript %}
{% endblock javascript %}