{% extends 'base.html' %}

{% block chamada %}Projetos{% endblock %}

{% block corpo %}

	<h2>{{project.name}}</h2>
    
	<div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Problem's List
              	<span><a id="new_problem_btn" class="btn btn-small" href="#"><i class="icon-plus"></i></a></span>
              	<span><a id="setup_problem_btn" class="btn btn-small" href="/admin/information/problem/?project__id__exact={{project.id}}"><i class="icon-cog"></i></a></span>
              </li>
              <li class="divider"></li>
              {% for problem in project.problem_set.all %}
              <li id="{{problem.id}}" class="problem_li"><a href="#">{{problem.name}} ({{problem.priority}})</a></li>
              {% endfor %}
			  <li>
				<div class="controls" id="add_problem_div">
					<form action="{% url url_register_problem id_project %}" method="post" id="add_problem_form">
					   {% csrf_token %}
		               <div class="input-append">
	                	<input type="text" name="problem_name_input" class="span8" size="32" >
	                	<input type="submit" name="submit" value="Add" class="btn" />
		               </div>
					</form>
	            </div>				
			  </li>
              
            </ul>
          </div>
        </div><!--/span3-->
        
        <div class="span9">
          <div class="row-fluid">
            <div class="span6">
              <h2>Requirement</h2>
              {% for problem in project.problem_set.all %}
              <div class="problem_div requirement_div{{problem.id}}">
              	  {% for requirement in problem.requirement_set.all %}
              	  <div class="alert alert-block" id="{{requirement.id}}" >
              	  	  <h4 class="alert-heading">#{{problem.id}} - {{requirement.name}} ({{requirement.priority}})</h4>
              	  	  {% if requirement.user %}
              	  	  	<b>As a </b>{{requirement.user}}, <b>I want to</b> {{requirement.action}}. <b>So that</b> {{requirement.detail}}
              	  	  {% else %}
              	  	  	{{requirement.description}}
              	  	  {% endif %}
		          </div>
              	  {% endfor %}
              </div>
              {% endfor %}
              <div>
					<form action="{% url url_register_requirement id_project %}" method="post" id="add_requirement_form">
					   {% csrf_token %}
		               <div class="input-append">
		               	<input type="hidden" name="problem_id_input" id="problem_id_input" value="" />
	                	<input type="text" name="requirement_name_input" class="span8" size="32" >
	                	<input type="submit" name="submit" value="Add" class="btn" />
		               </div>
					</form>
              </div>
            </div><!--/span6-->
            
            
            
            
            <div class="span6">
              <h2>Solution</h2>
              {% for problem in project.problem_set.all %}
              <div class="problem_div solution_div{{problem.id}}">
              	  {% for solution in problem.solution_set.all %}
              	  <div class="alert alert-info" id="{{solution.id}}" >
              	  	  <h4 class="alert-heading">#{{problem.id}} - {{solution.name}} ({{solution.votes}})</h4>
              	  	  {{solution.description}}
              	  	  <p><a class="btn-small" href="{% url url_solution_detail solution.id %}">Attachments &raquo;</a></p>
		          </div>
              	  {% endfor %}
              </div>
              {% endfor %}
            </div><!--/span6-->

          </div><!--/row-->
        </div><!--/span9-->
        
        
      </div><!--/row-->    

{% endblock corpo %}
{% block javascript %}

		<script type="text/javascript">
		    $(document).ready(function(){
		    	    //habilitar e desabilitar itens conforme problema selecionado
		    		$(".problem_div").hide();
		    		$("#add_requirement_form").hide();
					$(".problem_li").click(function(event){
						var problem_id_selected = $(this).attr('id');
						$(".problem_div").hide();
						$(".requirement_div" + problem_id_selected).show();
						$(".solution_div" + problem_id_selected).show();
						$("#problem_id_input").val(problem_id_selected);
						$("#add_requirement_form").show();
					});
					//novo problema
					$("#add_problem_div").hide();
					$("#new_problem_btn").click(function(event){
						$("#add_problem_div").show();
					});
		    });
		</script>

{% endblock javascript %}