{% extends 'base.html' %}

{% block chamada %}Projetos{% endblock %}

{% block corpo %}

	<h2>{{project.name}}</h2>
    
	<div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Problem's List</li>
              <li class="divider"></li>
              {% for problem in project.problem_set.all %}
              <li id="{{problem.id}}" class="problem_li"><a href="#">{{problem.name}} ({{problem.priority}})</a></li>
              {% endfor %}
            </ul>
          </div>
        </div><!--/span3-->
        
        <div class="span9">
          <div class="row-fluid">
            <div class="span6">
              <h2>Requirement</h2>
              {% for problem in project.problem_set.all %}
              <div class="problem_div requirement_div{{problem.id}}">
              	  {% for requirement in problem.requirement_set.all %}
              	  <div class="alert alert-block" id="{{requirement.id}}" >
              	  	  <h4 class="alert-heading">#{{problem.id}} - {{requirement.name}} ({{requirement.priority}})</h4>
              	  	  <b>As a </b>{{requirement.user}}, <b>I want to</b> {{requirement.action}}. <b>So that</b> {{requirement.detail}}
		          </div>
              	  {% endfor %}
              </div>
              {% endfor %}
            </div><!--/span6-->
            
            
            
            
            <div class="span6">
              <h2>Solution</h2>
              {% for problem in project.problem_set.all %}
              <div class="problem_div solution_div{{problem.id}}">
              	  {% for solution in problem.solution_set.all %}
              	  <div class="alert alert-info" id="{{solution.id}}" >
              	  	  <h4 class="alert-heading">#{{problem.id}} - {{solution.name}} ({{solution.votes}})</h4>
              	  	  {{solution.description}}
              	  	  <p><a class="btn-small" href="{% url url_solution_detail solution.id %}">Attachments &raquo;</a></p>
		          </div>
              	  {% endfor %}
              </div>
              {% endfor %}
            </div><!--/span6-->

          </div><!--/row-->
        </div><!--/span9-->
        
        
      </div><!--/row-->    

{% endblock corpo %}
{% block javascript %}

		<script type="text/javascript">
		    $(document).ready(function(){
		    		$(".problem_div").hide();
					$(".problem_li").click(function(event){
						var problem_id_selected = $(this).attr('id');
						$(".problem_div").hide();
						$(".requirement_div" + problem_id_selected).show();
						$(".solution_div" + problem_id_selected).show();
					});
		    });
		</script>

{% endblock javascript %}