{% extends 'base.html' %}

{% block chamada %}Projetos{% endblock %}

{% block corpo %}

	<div class="hero-unit">
        <h1>Let's brainstorming your idea!</h1>
        <p>This is a place to write down every idea and vote before figure out the best one.</p>
    </div>

	<h1>Select one project:</h1>
	
	<ul class="nav nav-pills nav-stacked">
		{% for project in object_list %}
		<li>
			<a href="{% url url_project_detail project.id %}">{{project.name}}</a>
		</li>
		{% endfor %}
    </ul>

{% endblock corpo %}
{% block javascript %}

	<script type="text/javascript">
		(function($) {
		    $(document).ready(function(){
		    });
		})(django.jQuery)
	</script>

{% endblock javascript %}