{% extends 'base.html' %}

{% block chamada %}Projetos{% endblock %}

{% load static %}

{% block corpo %}

	<div class="row-fluid">
        <div class="span12">
        	
        	
        	
		  <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
            	
            	{% for attachment in solution.attachment_set.all %}
              	  <div class="item {% if forloop.counter == 1 %}active{% endif %}" align="center">
              	  	    <img height="500" src="{{ MEDIA_URL }}{{ attachment.filename }}" alt="" />
		                <div class="carousel-caption">
		                  <h4>{{attachment.name}}</h4>
		                  <p>{{attachment.description}}</p>
		                </div>
		          </div>
              	{% endfor %}
            	
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>        	
        	
        	
        	

        </div><!--/span12-->
        
      </div><!--/row-->    

{% endblock corpo %}

{% block javascript %}

		<script type="text/javascript">
		    $(document).ready(function(){
					$('#myCarousel').carousel();
		    });
		</script>

{% endblock javascript %}